
   

<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="../img/Kupat_Tahu_Gempol.jpg" alt="Kupat Kupat_Tahu_Gempol" class="img-thumbnail rounded-circle" width="200" 
            
            />
            <h1 class="display-4">Sandika Galih</h1>
            <p class="lead">Letcurer | content creator</p>
        </div>
    </div>
</div> 

