<h3>Links</h3>
<ul>
    <li>
        <a href="/">Home</a>
    </li> 
    <li> 
        <a href="/about">About</a>
    </li>  
       
    <li>
        <a href="/kontak">contact</a>
    </li>
    <li>
      <a href="/produk/10">produk</a>
  </li>
</ul>